<ion-header>
  <ion-toolbar>
    <ion-title>MotoData</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="motorcycles.length > 0; else noData">
    <ion-item *ngFor="let m of motorcycles">
      <ion-label>
        <h2>{{ m.brand }}</h2>
        <p>{{ m.model }}</p>
      </ion-label>
      <ion-button
        color="primary"
        fill="clear"
        slot="end"
        (click)="editMotorcycle(m.id)"
      >
        Edit
      </ion-button>
      <ion-button
        color="danger"
        fill="clear"
        slot="end"
        (click)="deleteMotorcycle(m.id)"
      >
        Delete
      </ion-button>
      
    </ion-item>
  </ion-list>
  <ion-button expand="block" routerLink="/add-motorcycle">
   Add new motorcycle
  </ion-button>

  <ng-template #noData>
    <p class="ion-text-center">No tienes motos registradas</p>
  </ng-template>
</ion-content>
